*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica;
    background-color: #e0cfcd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contedor_formulario{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contenedor_tabla{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    font-size: 16px;
    table-layout: fixed;
    border: 1px #633565;
}

th{
    color: white;
    padding: 20px 15px;
    background-color: #633565;
}
td{
    color: #633565;
}
.Formulario{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.titulo_formulario{
    font-weight: 500;
    color: #302545;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.combo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.combo label{
    margin-left: 8px;
    margin-right: 8px;
    font-weight: 500;
    color: #302545;
}
.combo select{
    margin-left: 8px;
    margin-right: 8px;
}
.registros{
    width: 400px;
    height: 50px;
    border: none;
    outline: #302545;
    padding-left: 25px;
    font-weight: 500;
    color: #302545;
    border-radius: 50px;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #c3acbc;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: #633565;
}
.btn :hover{
    color: #633565;
    background-color: #c3acbc;
}
